// Variables
$body-bg: rgb(234, 240, 236);
$main-font: 'Montserrat';
$header-font: 'Anton';
$text-font: 'Lato';

$primary-color: #43867B;
$secondary-color: #699F96;
$light-color: #9FC6BF;
$dark-color: #0C4F44;

$container: 960px;
$section-padding: 20px;